USE [master]
GO
/****** Object:  Database [BDINVENTARIO]    Script Date: 14/02/2022 04:14:46 ******/
CREATE DATABASE [BDINVENTARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDINVENTARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDINVENTARIO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDINVENTARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDINVENTARIO_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDINVENTARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDINVENTARIO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDocumento] [nvarchar](100) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CLIENTE__D594664380E97F56] UNIQUE NONCLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATOS]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS](
	[IdDato] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](100) NULL,
	[Ruc] [nvarchar](100) NULL,
	[Direccion] [nvarchar](100) NULL,
	[Logo] [varbinary](max) NULL,
 CONSTRAINT [PK_DATOS] PRIMARY KEY CLUSTERED 
(
	[IdDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_ENTRADA]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_ENTRADA](
	[IdDetalleEntrada] [int] IDENTITY(1,1) NOT NULL,
	[IdEntrada] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CodigoProducto] [nvarchar](100) NOT NULL,
	[DescripcionProducto] [nvarchar](100) NOT NULL,
	[CategoriaProducto] [nvarchar](100) NOT NULL,
	[AlmacenProducto] [nvarchar](100) NOT NULL,
	[PrecioCompra] [nvarchar](100) NOT NULL,
	[PrecioVenta] [nvarchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [nvarchar](100) NOT NULL,
	[Lote] [nvarchar](100) NULL,
	[FechaVencimiento] [nvarchar](100) NULL,
	[Descuento] [nvarchar](100) NULL,
	[TotalDescuento] [nvarchar](100) NULL,
 CONSTRAINT [PK_DETALLE_ENTRADA] PRIMARY KEY CLUSTERED 
(
	[IdDetalleEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__DETALLE___B9C7D26437E04CC9] UNIQUE NONCLUSTERED 
(
	[IdDetalleEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_SALIDA]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_SALIDA](
	[IdDetalleSalida] [int] IDENTITY(1,1) NOT NULL,
	[IdSalida] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CodigoProducto] [nvarchar](100) NOT NULL,
	[DescripcionProducto] [nvarchar](100) NOT NULL,
	[CategoriaProducto] [nvarchar](100) NOT NULL,
	[AlmacenProducto] [nvarchar](100) NOT NULL,
	[PrecioVenta] [nvarchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [nvarchar](100) NOT NULL,
	[Descuento] [nvarchar](100) NULL,
	[TotalDescuento] [nvarchar](100) NULL,
 CONSTRAINT [PK_DETALLE_SALIDA] PRIMARY KEY CLUSTERED 
(
	[IdDetalleSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__DETALLE___B5F901B3209AB2C1] UNIQUE NONCLUSTERED 
(
	[IdDetalleSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[IdEntrada] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDocumento] [nvarchar](100) NOT NULL,
	[FechaRegistro] [nvarchar](100) NOT NULL,
	[UsuarioRegistro] [nvarchar](100) NOT NULL,
	[DocumentoProveedor] [nvarchar](100) NOT NULL,
	[NombreProveedor] [nvarchar](100) NOT NULL,
	[CantidadProductos] [nvarchar](100) NOT NULL,
	[MontoTotal] [nvarchar](100) NOT NULL,
	[Lote] [nchar](100) NULL,
	[FechaVencimiento] [nchar](100) NULL,
	[Descuento] [nchar](10) NULL,
	[TotalDescuento] [nvarchar](10) NULL,
 CONSTRAINT [PK_ENTRADA] PRIMARY KEY CLUSTERED 
(
	[IdEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__ENTRADA__BB164DEBFE0296BD] UNIQUE NONCLUSTERED 
(
	[IdEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISOS]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISOS](
	[IdPermisos] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Salidas] [int] NOT NULL,
	[Entradas] [int] NOT NULL,
	[Productos] [int] NOT NULL,
	[Clientes] [int] NOT NULL,
	[Proveedores] [int] NOT NULL,
	[Inventario] [int] NOT NULL,
	[Configuracion] [int] NOT NULL,
 CONSTRAINT [PK_PERMISOS] PRIMARY KEY CLUSTERED 
(
	[IdPermisos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Categoria] [nvarchar](100) NULL,
	[Almacen] [nvarchar](100) NULL,
	[PrecioCompra] [nvarchar](100) NOT NULL,
	[PrecioVenta] [nvarchar](100) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PRODUCTO__09889211AEFCBFFF] UNIQUE NONCLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDocumento] [nvarchar](50) NULL,
	[NombreCompleto] [nvarchar](200) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PROVEEDO__E8B631AE74D397D8] UNIQUE NONCLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALIDA]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALIDA](
	[IdSalida] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDocumento] [nvarchar](100) NOT NULL,
	[FechaRegistro] [nvarchar](100) NOT NULL,
	[UsuarioRegistro] [nvarchar](100) NOT NULL,
	[DocumentoCliente] [nvarchar](100) NOT NULL,
	[NombreCliente] [nvarchar](100) NOT NULL,
	[CantidadProductos] [int] NOT NULL,
	[MontoTotal] [nvarchar](100) NOT NULL,
	[Descuento] [nvarchar](100) NULL,
	[Total] [nvarchar](10) NULL,
 CONSTRAINT [PK_SALIDA] PRIMARY KEY CLUSTERED 
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__SALIDA__5D69EC73755E1ED9] UNIQUE NONCLUSTERED 
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_BARRA]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_BARRA](
	[IdTipoBarra] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NULL,
 CONSTRAINT [PK_TIPO_BARRA] PRIMARY KEY CLUSTERED 
(
	[IdTipoBarra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__TIPO_BAR__7576195ECCDB8FC0] UNIQUE NONCLUSTERED 
(
	[IdTipoBarra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[IdPermisos] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIO__5B65BF9601C3A824] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_STOCK_CLIENTES]    Script Date: 14/02/2022 04:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_STOCK_CLIENTES] AS
SELECT A.DescripcionProducto, B.NombreCliente,A.Cantidad FROM [BDINVENTARIO].[dbo].[DETALLE_SALIDA] A
INNER JOIN [BDINVENTARIO].[dbo].[SALIDA] B ON A.IdSalida=B.IdSalida
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__Catego__30F848ED]  DEFAULT ('') FOR [Categoria]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__Almace__31EC6D26]  DEFAULT ('') FOR [Almacen]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__Precio__32E0915F]  DEFAULT ('') FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__Precio__33D4B598]  DEFAULT ('') FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__Stock__34C8D9D1]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[DETALLE_ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA] FOREIGN KEY([IdEntrada])
REFERENCES [dbo].[ENTRADA] ([IdEntrada])
GO
ALTER TABLE [dbo].[DETALLE_ENTRADA] CHECK CONSTRAINT [FK_ENTRADA]
GO
ALTER TABLE [dbo].[DETALLE_SALIDA]  WITH CHECK ADD  CONSTRAINT [FK_SALIDA] FOREIGN KEY([IdSalida])
REFERENCES [dbo].[SALIDA] ([IdSalida])
GO
ALTER TABLE [dbo].[DETALLE_SALIDA] CHECK CONSTRAINT [FK_SALIDA]
GO
USE [master]
GO
